footer {
  padding: 30px;
  .footer {
    display: flex;
    justify-content: space-around;
    a {
      font-size: 16px;
      font-weight: 700;
      color: #d6d6d6;
    }
  }
  @include screen(medium) {
    .footer {
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }
  }
}
