.form_wrapper {
  padding: 80px 0;
  background-color: $color-main-dark;
  color: #fff;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      margin-bottom: 80px;
      max-width: 300px;
      text-align: center;
      h2 {
        font-size: 34px;
        font-weight: 800;
        line-height: 1.3;
        margin-bottom: 10px;
      }
    }
    form {
      width: 100%;
      text-align: left;
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 850px;
      input,
      textarea {
        padding: 16px;
        color: $color-text-black;
        &::placeholder {
          color: #859598;
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
        }
      }

      .fields {
        display: flex;
        width: 100%;
        gap: 20px;
        margin-bottom: 30px;
        .left,
        .right {
          flex-basis: 50%;
        }
        .left {
          display: flex;
          flex-direction: column;
          input {
            background-color: #fff;
            padding: 16px;
            &:not(:last-of-type) {
              margin-bottom: 30px;
            }
          }
        }
        .right {
          textarea {
            width: 100%;
            height: 100%;
            resize: none;
          }
        }
      }
      .form_btn {
        width: 100%;
        display: flex;
        button {
          width: 25%;
          margin-left: auto;
          font-size: 16px;
        }
      }
    }
  }
  @include screen(medium) {
    .form {
      .title {
        h2 {
        }
      }
      form {
        .fields {
          flex-wrap: wrap;
          .left,
          .right {
            flex-basis: 100%;
          }
          .left {
            input {
              &:not(:last-of-type) {
                margin-bottom: 20px;
              }
            }
          }
          .right {
            textarea {
              min-height: 100px;
            }
          }
        }
        .form_btn {
          justify-content: center;
          button {
            width: 40%;
            margin-left: 0;
          }
        }
      }
    }
  }
}
