.hero_wrapper {
  .hero {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;

    .left,
    .right {
      flex-basis: 50%;
    }

    .left {
      // flex-basis: 40%;
      min-width: 640px;
      padding-top: 120px;
      padding-right: 6rem;
      h1 {
        font-size: 34px;
        font-weight: 800;
        margin-bottom: 35px;
      }
      h3 {
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 32px;
      }
      p {
        margin-bottom: 35px;
      }
      .btn {
        font-size: 15px;
      }
    }
    .right {
      // flex-basis: 60%;
      & img {
        object-fit: cover;
        object-position: center;
      }
    }
  }
  @include screen(large) {
    .hero {
      flex-direction: column;
      align-items: center;

      .left,
      .right {
        flex-basis: auto;
      }

      .left {
        min-width: auto;
        text-align: center;
        order: 1;
        padding: 0;
        max-width: 500px;

      }
      .right {
        width: 80%;
        text-align: center;
      }
    }
  }
}
