.presentation {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 5%;

  &.pr_ltr {
    .text {
      // padding-left: 6rem;
    }
  }

  &.pr_rtl {
    .text {
      // padding-right: 6rem;
    }
  }

  &.pr_noimg {
    .text {
      flex-basis: auto;
      padding: 0 6rem;
    }
  }
  .text,
  .image {
    flex-basis: 50%;
  }
  .text {
    min-width: 640px;
    padding-top: 100px;
    h1 {
      font-size: 34px;
      font-weight: 800;
      margin-bottom: 35px;
    }
    h2 {
      font-size: 34px;
      font-weight: 800;
      margin-bottom: 35px;
    }
    h3 {
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 32px;
    }
    ul {
      padding-left: 20px;
    }
    ul li {
      list-style: disc;
      margin-bottom: 1rem;
    }
    p,
    ul {
      margin-bottom: 35px;
    }
    .btn {
      font-size: 15px;
    }
  }
  .image {
    & img {
      object-fit: cover;
      object-position: center;
    }
  }
  @include screen(large) {
    &.pr_ltr,
    &.pr_rtl {
      .text {
        padding: 0;
      }
    }

    &.pr_ltr {
      .text {
        order: 1;
      }
    }

    flex-direction: column;
    align-items: center;

    .text,
    .image {
      flex-basis: auto;
    }

    .text {
      min-width: auto;
      text-align: center;

      max-width: 500px;
      ul {
        text-align: left;
      }
    }
    .image {
      width: 60%;
      text-align: center;
      margin-bottom: 80px;
    }
  }
  @include screen(medium) {
    .image {
      width: 90%;
      margin-bottom: 40px;
    }
  }
}
