.services_page {
  .services_wrapper {
    .services {
      display: flex;
      padding-top: 50px;
      padding-bottom: 50px;
      gap: 1%;
      .left,
      .right {
        flex-basis: 50%;
      }

      .left {
        min-width: 640px;
        padding-top: 120px;
        padding-left: 6rem;
        h2 {
          font-size: 34px;
          font-weight: 800;
          margin-bottom: 35px;
        }
        h3 {
          font-weight: 700;
          font-size: 22px;
          margin-bottom: 32px;
        }
        ul {
          padding-left: 20px;
        }
        ul li {
          list-style: disc;
          margin-bottom: 1rem;
        }
        p,
        ul {
          margin-bottom: 35px;
        }
        .btn {
          font-size: 15px;
        }
      }
      .right {
        & img {
          object-fit: cover;
          object-position: center;
        }
      }
    }
    @include screen(large) {
      .services {
        flex-direction: column;
        align-items: center;

        .left,
        .right {
          flex-basis: auto;
        }

        .left {
          min-width: auto;
          text-align: center;
          order: 1;
          padding: 0;
          max-width: 500px;
        }
        .right {
          width: 80%;
          text-align: center;
          margin-bottom: 80px;
        }
      }
    }
    @include screen(medium) {
      .services {
        .right {
          margin-bottom: 40px;
        }
      }
    }
  }
}
