@import 'cssdrop';
@import 'service';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
  font-size: 12px;
}

html,
body,
select {
  font-size: 1rem;
  color: $color-text-black;
  font-family: 'Open Sans', sans-serif;
}

a {
  display: inline-block;
}

p {
  line-height: 27px;
  font-size: 16px;
  font-weight: 300;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
}

@import 'header';
@import 'hero';
@import 'advantages';
@import 'about';
@import 'form';